<div *ngIf="skill">
  <a routerLink="/resume" fragment="competences"><span class="fa fa-arrow-left"></span> Retour à la liste des compétences </a>
  <h1 class="center-align"> COMPETENCE : {{skill.name}}</h1>
  <div [innerHTML]="skill.description">

  </div>

  <section *ngIf="skill.experiences.length > 0">
    <h2> EXPERIENCES PROFESSIONNELLES</h2>
    <div class="flex-wrap-around">
      <app-resume-card *ngFor="let experience of skill.experiences" [data]="experience"></app-resume-card>
    </div>
  </section>

  <section *ngIf="skill.realisations.length > 0">
    <h2> REALISATIONS </h2>
    <div class="flex-wrap-around">
      <app-realisation-card *ngFor="let realisation of skill.realisations" [realisation]="realisation"></app-realisation-card>
    </div>
  </section>

</div>
