<div class="sidebar col s12 m12 l3">
  <img class="img-rounded" [src]="avatar_url">
  <div>
    <h1>Jules LAURENT</h1>
    <blockquote>
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
      standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled
    </blockquote>
  </div>
  <div class="networks">
    <a class="fab fa-2x fa-github" target="_blank" href="https://github.com/JulesAaelio"></a>
    <a class="fab fa-2x fa-linkedin" target="_blank" href="https://fr.linkedin.com/in/jules-laurent"></a>
    <a class="fab fa-2x fa-twitter" target="_blank" href="https://twitter.com/julesaaelio"></a>
    <a class="fas fa-2x fa-globe" target="_blank" href="http://juleslaurent.fr"></a>
    <a class="fas fa-2x fa-envelope" target="_blank" href="mailto:jules.laurent@ynov.com"></a>
  </div>
</div>
