<div>
  <div class="row blog-row">
    <app-sidebar [data]="resume.person" [resumeMode]="true"></app-sidebar>
    <div class="col l3 show-on-large sidebar-placeholder">sidebar large placeholder</div>
    <div class="col s12 m12 l9  resume" (wheel)="onScroll($event)">
      <section id="headlines" class="hide-on-med-and-down">
        <div class="center-xy center-align full-width">
          <h1 >{{resume.title|uppercase}}</h1>
          <h2 >{{resume.headline|uppercase}}</h2>
          <div class="resume-actions">
            <a [href]="getDocumentURL()" target="_blank" class="btn btn-large white grey-text"><i
              class="fa fa-download"></i> TELECHARGER UN CV</a> -
            <a href="#" (click)="scrollDown($event)" class="btn btn-large grey jlt"><i class="fa fa-arrow-down"></i>
              DECOUVRIR LA SUITE</a>
          </div>
        </div>
        <app-navigation-arrow [direction]="'down'" [target]="'experience'"></app-navigation-arrow>
      </section>
      <section id="experience">
        <!--<app-navigation-arrow [direction]="'up'" [target]="'headlines'"></app-navigation-arrow>-->
        <h2 class="center-align">EXPERIENCE PROFESSIONNELLE</h2>
        <div class="full-width  flex-wrap-around">
          <app-resume-card *ngFor="let experience of resume.experiences" [data]="experience"></app-resume-card>
        </div>
        <app-navigation-arrow [direction]="'down'" [target]="'formation'"></app-navigation-arrow>
      </section>
      <section id="formation">
        <!--<app-navigation-arrow [direction]="'up'" [target]="'experience'"></app-navigation-arrow>-->
        <h2 class="center-align">FORMATION</h2>
        <div class="full-width  flex-wrap-around">
          <app-resume-card *ngFor="let education of resume.educations" [data]="education"></app-resume-card>
        </div>
        <app-navigation-arrow [direction]="'down'" [target]="'competences'"></app-navigation-arrow>
      </section>
      <section id="competences">
        <!--<app-navigation-arrow [direction]="'up'" [target]="'formation'"></app-navigation-arrow>-->
        <h2 class="center-align">COMPETENCES</h2>
        <div class="flex-wrap">
          <app-skill-bucket *ngFor="let group of skills" [group]="group"></app-skill-bucket>
        </div>
      </section>
    </div>
  </div>
</div>
