<div>
  <div class="row blog-row">
    <app-sidebar [data]="{}"></app-sidebar>
    <div class="col s12 m12 l9 push-l3 resume">
      <section id="#headlines">
        <div class="center-xy center-align full-width">
          <h1>{{resume.job|uppercase}}</h1>
          <h2>{{resume.headline|uppercase}}</h2>
        </div>
      </section>
      <section id="#experience">
        <h2 class="center-align">EXPERIENCE PROFESSIONNELLE</h2>
        <div class="full-width center-xy">
          <app-resume-card *ngFor="let experience of resume.experiences" [data]="experience"></app-resume-card>
        </div>
      </section>
      <section id="#formation">
        <h2 class="center-align">FORMATION</h2>
        <div class="full-width center-xy">
          <app-resume-card *ngFor="let experience of resume.formations" [data]="experience"></app-resume-card>
        </div>
      </section>
      <section id="#skills">
        <h2 class="center-align">COMPETENCES</h2>
      </section>
    </div>
  </div>
</div>
