
.resume {
  margin: 0;
  padding: 0;
  section {
    //min-height: 100vh;

    position: relative;
  }
  section#headlines {
    min-height: 100vh;

  }



  .skills-container {
    margin-right: 1em;
    margin-left: 1em;
  }
}


