<div class="card">
  <div class="card-image">
    <img [src]="getIllustrationAddress()">

  </div>
  <div class="card-content">
    <span class="card-title">{{data.job_label || data.degree}}</span>
    <div class="card-date">
      {{data.begin_date | date:'MMM yyyy':'fr-fr' | uppercase}}
      &mdash;
      {{data.end_date | date:'MMM yyyy':'fr-fr' | uppercase}}
    </div>
    <p>
      <a href="{{data.website}}">
        <i class="fa "
           [class.fa-building]="data.company"
           [class.fa-school]="data.school"></i> - {{data.company || data.school}}</a>
    </p>
    <p>
      {{data.details}} ...
    </p>
  </div>
</div>

