:host  {
  display: flex;
}

.card {
  width: 100%;
}


.card-image {
  padding-top: 39.69%;
  position: relative;
  overflow: hidden;
}

.card-image img {
  position: absolute;
}

/*.card {*/
/*  width: 100%;*/
/*}*/
