<!--<div class="skill-bucket">-->
<!--  <span class="title">{{name}} | </span>-->
<!--  <span class="badge badge-default badge-rounded skill-badge" [routerLink]="['skill',skill.id]"-->
<!--        *ngFor="let skill of skills">{{skill.name}}</span>-->
<!--</div>-->

<div class="skill-bucket">
  <div class="title">{{name}}</div>
  <mat-chip-list>
    <mat-chip *ngFor="let skill of skills" selected color="primary" [routerLink]="['skill',skill.id]">
      {{skill.name}}
    </mat-chip>
  </mat-chip-list>
</div>
