/* You can add global styles to this file, and also import other style files */
@import "~materialize-css/sass/components/color-variables";

$jlt-grey: #333333;
$grey: map-merge($grey, ("jlt": $jlt-grey));
$shades: map_merge($shades, ("grey": $jlt-grey));
$colors: map_merge($colors, ("grey": $grey));
$colors: map_merge($colors, ("shades": $shades));
@import "~materialize-css/sass/components/color-classes";
@import "~materialize-css/sass/components/variables";

@import "custom_grid";
@import "~materialize-css/sass/components/global";
@import "~materialize-css/sass/components/cards";
@import "~materialize-css/sass/components/buttons";
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');

html, body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

//TYPOS

h1, h2, h3, h4, p, div, section {
  font-family: 'Roboto', sans-serif;
}

a {
  color: black;
}

//SIDEBAR

.sidebar {
  position: fixed;
  height: 100%;
  min-height: 100%;
  left: 0;

  background-color: $jlt-grey;
  color: white;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding-bottom: 3em !important;

  h1, h2 {
    text-align: center;
  }

  blockquote {
    text-align: justify;
    font-size: 1.1em;
  }

  .networks {
    position: absolute;
    bottom: 25px;

    width: 100%;
    display: flex;
    justify-content: space-around;

    a {
      color: white;
      text-decoration: none;
    }
  }
}

.sidebar-placeholder {
  display: none;
  visibility: hidden;
}

.sidebar-actions {
  display: flex;
  flex-direction: column;
  width: 80%;

  * {
    margin: 2px;
  }
}

@media #{$large-and-up} {
  .sidebar, .sidebar-placeholder {
    min-width: 443px;
  }

}

//BLOG

.blog-row {
  display: flex;
}

@media #{$medium-and-down} {
  .blog-row {
    display: flex;
    margin-bottom: 0;
    flex-direction: column;
  }

  .blog-row.inverse-when-small {
    flex-direction: column-reverse;
  }

  .sidebar {
    height: 100vh;
    min-height: auto;
    position: relative;
    width: 100%;
    left: auto;
    bottom: 0;

    padding-bottom: 80px !important;



  }

  .navigation-arrow {
    display: none;
  }
}

@media #{$small-and-down} {
  .sidebar {
    flex-direction: column;
  }

  h1 {
    font-size: 1.5em;
  }
  .headline {
    font-size: 1.2em !important;

  }
  h2 {
    font-size: 1.2em;
  }

  .sidebar-avatar {
    max-width: 200px;
    height: auto;
  }

  blockquote {
    border: none;
    padding-left: 0;
  }

}

//CARDS

.card-title {
  text-align: left;
}

.card-title + .card-date {
  margin-top: -8px;
  margin-bottom: 8px;
}

.card-location {
  margin-bottom: 1em;
}

.card-content {
  text-align: justify;
}

//RESUME

@media #{$medium-only} {
  .resume-card .card {
    min-height: 385px;
  }
}

@media #{$large-and-up} {
  .resume-card .card {
    min-height: 375px;
  }
}

.resume-city {
  margin-top: -1em;
}

.resume-phone-number {
  position: absolute;
  background-color: white;
  border-radius: 2px;
  color: $jlt-grey;
  font-size: 2em;
  text-align: center;
  width: 98%;
  margin-right: 1em;
  margin-left: 1em;
  //padding: 0.5rem;
  bottom: 130%;
}

.col.skill-bucket {
  min-width: 345px;
}

.card.skill-bucket {
  min-height: 270px;
}

@media #{$small-and-down} {
  .resume {
    section {
      height: auto !important;
      min-height: 0 !important;
    }
  }

  .center-xy {
    position: initial;
    left: initial;
    top: initial;
    transform: none;
  }

  .card.skill-bucket {
    min-height: auto;
  }

  .badge {
    font-size: initial !important;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
  }
}

// ARTICLES

.article-date {
  display: block;
  margin-top: -15px;
}

.article-illustration {
  width: 100%;
  height: auto;
}

.article-content {
  a {
    font-size: 1.05em;
    text-decoration: underline $jlt-grey;
  }
  img {
    max-width: 100%;
    height: auto;
  }
}

@media #{$large-and-up} {
  .article-card, .resume-card {
    min-width: 431px;
    .card-image {
      max-height: 199px;
    }
  }
}

// UTILS
.flex-around {
  display: flex;
  justify-content: space-around;
}

.flex-wrap-around {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.cursor-pointer {
  cursor: pointer;
}

.center-xy {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.full-width {
  width: 100%;
}

.img-rounded {
  border: solid 2px white;
  border-radius: 50%;
}

.form-control {
  width: 100%;
  margin-bottom: 25px;
  margin-top: 25px;

}

.badge {
  display: inline-block;
  font-size: 1.2em;
  //margin-right: 1rem;
  margin-bottom: 1em;
  padding: 1rem;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
  //min-width: 130px;
  &.badge-default {
    background-color: $jlt-grey;
    color: white;
    border-color: $jlt-grey;
  }

  &.badge-fw {
    width: 42%;
    text-align: center;
  }

  &.badge-rounded {
    border-radius: 999px;
    border: solid 1px;
  }
}

@media #{$small-and-down} {
  .badge {
    display: inline-block;
    font-size: 18em;
    //margin-right: 1rem;
    margin-bottom: 1em;
    padding: 0.5rem;
    //margin-left: 0.2rem;
    margin-right: 0.2rem;
    //min-width: 130px;
    &.badge-default {
      background-color: $jlt-grey;
      color: white;
      border-color: $jlt-grey;
    }

    &.badge-fw {
      width: 42%;
      text-align: center;
    }

    &.badge-rounded {
      border-radius: 999px;
      border: solid 1px;
    }
  }
  .skills-container .title {
    font-size: initial !important;
  }
}

@media #{$small-and-down} {
  .card-image {
    display: none;
  }

  h2 {
    font-size: 1.5em !important;
  }

  .card-body {
    padding-top: 10px !important;
    padding-bottom: 0px !important;
  }

}

@media #{$small-and-down} {
  .card-image {
    display: none;
  }

  h2 {
    font-size: 1.5em !important;
  }

  .card-body {
    padding-top: 10px !important;
    padding-bottom: 0px !important;
  }

}

.card-body {
  padding: 20px;
}
